.container-fluid {
    position: fixed;
}

#startButton {
    background-color: #008CBA;
    color: white;
}

#startButton:hover {
    background-color: white;
    color: #008CBA;
}

#question {
    padding: 0;
    margin-bottom: 2rem;
}

#answers button {
    border-radius: .25rem;
}

.answerButtons {
    display: inline-grid;
}

.answerButtons button {
    margin-bottom: 1.5rem;
}

.highscores {
    /* text-align: center; */
    width: 35%;
    display: flex;
    margin: auto;
    margin-top: 3rem;
    background-color: lightgray;
}

.highscores div {
    width: 100%;
    text-align-last: justify;
}

.highscores p{
    padding: .5rem 1.5rem;
    margin: 0;
}

.highscores p:not(:last-child) {
    border-bottom: solid .01rem black;
}